@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --red: #ec2a1c;
    --black: #130f40;
    --light-color: #eb4444;
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    --border: .2rem solid rgba(0,0,0,.1);
    --outline: .1rem solid rgba(0,0,0,.1);
    --outline-hover: .2rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

body{
    background-color: rgb(255, 255, 255);
}

h2{
    color: rebeccapurple;
    color: #ec2d2d;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: rgb(255, 255, 255);
    box-shadow: var(--box-shadow);
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--light-color)
}

.header .logo i{
    color: var(--red);
}

.header .navbar a{
    font-size: 1.7rem;
    margin:0 1 rem;
    color:var(--black)
}

.header .navbar a:hover{
    color: var(--red);
}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: rgb(255, 255, 255);
    color: var(--black);
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover{
    background: var(--red);
    color: rgb(255, 255, 255);
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top: 100%; right: 2rem;
    width: 50rem;
    height: 4rem;
    background: rgb(255, 255, 255);
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

